@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
 box-sizing: border-box;
 margin: 0;
 border: 0;
}

body{
    font-family: "Merriweather", serif;
}
/* banner section styles start here */
.banner-container{
    max-width: 1087px;
    margin: 0 auto;
    border: 2px solid red;
    min-height: 494px;
    margin-top: 30px;
    background-image: url(./new-year-offer-resources-main/images/Banner-Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.banner-content{
    display: flex;
    height: 494px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-content h1{
    color: white;
    font-size: 59px;
    font-weight: 900px;
    text-align: center;
}
.banner-content p{
    color: white;
    font-size:32px;
    font-weight:400px;
}
.second-section-container{
    width: 661px;
    height: 536px;
    margin: 0 auto;
    border: 2px solid red;
    margin-top: 90px;
    
}
.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.second-section-content h1{
color: rgb(255, 0, 0);
font-size: 58px;
font-weight: 700;
line-height: 107px;
}

.second-section-content p{
color: rgb(255, 0, 0);
font-size: 14px;
font-weight: 500;
line-height: 29px;
}

.second-section-content h3{
color: rgb(7, 2, 17);
font-size: 20px;
font-weight: 700;

}

.image-container{
    width: 661px;
    height: 380px;
    margin-top: 25px;
}
.image-container img{
    width: 100%;
    height: 100%;
}
/* midnight party section start */
.midnight-party-container{
width: 1087px;
height: 494px;
border: 2px solid red;
margin: 0 auto;
display: flex;
background-image: url(./new-year-offer-resources-main/images/Vectorrr.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: rgba(0, 0, 0, 0.5);
margin-top: 90px;

}
.leftside-content{
    width: 50%;
    height: 494px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
.rightside-content{
    width: 50%;
    height: 494px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rightside-content img{
    width: 262px;
    height: 382px;
}
.leftside-content h1{
    color: rgb(255, 255, 255);
font-size: 50px;
font-weight: 900;
margin-bottom: 18px;
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400; 
    margin-left: 45px;
    margin-bottom: 18px;
}
.midnight-btn{
color:  rgb(255, 255, 255);
font-family: Inter;
font-size: 12px;
font-weight: 700;
background-color: transparent;
margin-left: -273px;
border: 2px solid whitesmoke;
border-radius: 15%;

}
/* new-park-hotel css */
.new-park-hotel-container{
width: 1087px;
height: 397px;
border: 2px solid red;
margin: 0 auto;
margin-top: 90px;

/* justify-content: center;   */
}
.new-park-hotel-content{
    height: 397px;
    margin-top: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}
 /* .new-park-hotel-content .h-1{ 
        padding-bottom: 15px;
        
} 
.new-park-hotel-content .h-2{
    padding-bottom: 15px;
}   */
.new-park-hotel-content .h-3{
    padding-bottom: 20px;
    
}  
.new-park-hotel-content .hotel-btn{
    color: beige;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    background-color: red;
}
.coming-soon-container{
    width: 1087px;
    height: 381px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 90px;
    
}
.coming-soon-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.coming-soon-content .left-content{
    height: 210px;
    width: 33%;
    border: 2px solid red;
    margin: 85px 0 57px;
}
.coming-soon-content .middle-content{
    height: 210px;
    width: 33%;
    border: 2px solid red;
    margin: 85px 0 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coming-soon-content .middle-content img{
    border: 10px solid red;
    border-radius: 100%;
    padding: 20px;
    width: 381px;
    height: 361px;
    
}
.coming-soon-content .right-content{
    height: 210px;
    width: 33%;
    border: 2px solid red;
    margin: 85px 0 57px;
}
.coming-soon-content .right-content h2{
    color: red;
    padding-bottom: 20px;
}
.coming-soon-content .right-content img{
    width: 115px;
height: 115px;
padding-top: 20px;
}

.left-content h5{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 17px;
font-weight: 500;
}
.left-content h2{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-weight: 900;
}
.left-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 32px;
}
.holiday-section-container{
    width: 1087px;
height: 812px;
margin: 0 auto;
margin-top: 90px;
border: 2px solid red;
position: relative;
}
.holiday-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.holiday-section-content p{
text-align: center;
font-size: small;
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 15px;
}
    
.holiday-section-content h1 span{
    color: red;
}
.solid-color{
    width: 1087px;
height: 188px;
background-color: green;
position: relative;
top: 60%;
}
.giftbox{
width: 556px;
height: 476px;
position: relative;
z-index: 1;
 display: flex;
align-items: center;
justify-content: center; 

}
 .giftbox img{
    width: 100%;
    height: 100%;
} 
.discount-container{
    height: 251px;
    width: 251px;
    padding-bottom: 100px;
    margin-bottom: 250px;
}

.discount-section{
    height: 476px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
